{
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/changelog",
        "@semantic-release/git",
        "@semantic-release/github"
    ],
    "prepare": [
        "@semantic-release/changelog",
        "@semantic-release/git",
        {
            "path": "semantic-release-vsce",
            "packageVsix": "sleistner.vscode-fileutils.vsix"
        }
    ],
    "publish": [
        "semantic-release-vsce",
        {
            "path": "@semantic-release/github",
            "assets": "sleistner.vscode-fileutils.vsix"
        }
    ]
}
