name: CI/CD

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  release:
    types:
      - published

concurrency:
  group: ci-fileutils-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  lint-test:
    name: Lint, Test
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - name: Install dependencies
        run: npm install --omit=optional --no-package-lock --no-color --no-description --ignore-scripts

      - name: Run code analysis
        run: npm run lint
        if: runner.os == 'Linux'

      - name: Run tests on Linux
        run: |
          sudo apt-get --assume-yes install libsecret-1-0 xclip;
          /usr/bin/Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
          xvfb-run -a npm run test
        env:
          DISPLAY: ":99.0"
        if: runner.os == 'Linux'

      - name: Run tests on macOS and Windows
        run: npm run test
        if: runner.os != 'Linux'

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: [lint-test]
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - name: Install dependencies
        run: |
          npm install --omit=optional --no-package-lock --no-color --no-description --ignore-scripts
          npm install --save-exact esbuild --no-color --no-description

      - name: Run semantic-release
        run: npm run semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
