name: CI/CD

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  release:
    types:
      - published

jobs:
  lint-test:
    name: Lint, Test
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          # - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false

      - uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Install dependencies
        run: yarn install --no-progress --no-lockfile --ignore-optional

      - name: Run code analysis
        run: yarn run lint
        if: runner.os == 'Linux'

      - name: Run tests on Linux
        run: |
          sudo apt-get --assume-yes install libsecret-1-0 xclip;
          /usr/bin/Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
          xvfb-run -a yarn run test
        env:
          DISPLAY: ':99.0'
        if: runner.os == 'Linux'

      - name: Run tests on macOS and Windows
        run: yarn run test
        if: runner.os != 'Linux'

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: [ lint-test ]
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      - uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Install dependencies
        run: yarn install --no-progress --no-lockfile --ignore-optional

      - name: Semantic Release
        run: |
          yarn run semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          VSCE_PAT: ${{ secrets.VS_MARKETPLACE_TOKEN }}
